<div class="item-class" *ngIf="newClass">
  <p>Edit {{ title }}</p>
  <div class="body-class">
    <h4>
      Name class: <span>{{ newClass.name | uppercase }}</span>
    </h4>
    <div><span>Id: </span>{{ newClass.id }}</div>
    <div>
      <label for="newClass-name">New Name: </label>
      <input
        id="newClass-name"
        [(ngModel)]="newClass.name"
        placeholder="name"
      />
    </div>
  </div>
  <div class="footer-class" style="border-top: 1px solid grey">
    <button (click)="goBack()">Go back</button>
    <button (click)="save(newClass.name)">Save</button>
  </div>
</div>
